{% extends "base_generic.html" %}

{% block content %}
    <h2>Login in</h2>
    <form method="post" action="{% url 'cmsapp:authentication' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username</td>
                <td><input type="text" class="form-control" id="username" name="username"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" class="form-control" id="password" name="password"></td>
            </tr>
        </table>
        <input type="submit" value="login" />
{#        <input type="hidden" name="next" value="{{ next }}" />#}
    </form>

    {% if error %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
{% endblock %}