{% extends "base_generic.html" %}

{% block content %}
    <h2>Login in</h2>
    <form class="my-4" method="post" action="{% url 'cmsapp:authentication' %}">
        {% csrf_token %}
        <table class="my-4">
            <tr>
                <td>Username</td>
                <td><input type="text" class="form-control" id="username" name="username"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" class="form-control" id="password" name="password"></td>
            </tr>
        </table>
        <input class="btn btn-secondary" type="submit" value="Login" />
        <a class="btn btn-secondary" href="{% url 'cmsapp:register' %}">Register</a>
    </form>

    {% if error %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
{% endblock %}