{% extends "base_generic.html" %}

{% block content %}
    <h1 class="mb-4">Edit Article</h1>
    <form action="{% url 'cmsapp:article_edit_save' article.id %}" method="post">{% csrf_token %}
        <div class="form-group">
            <label for="inputTitle">Title</label>
            <input type="text" class="form-control" id="inputTitle" aria-describedby="titleHelp" value="{{ article.name }}" name="title">
        </div>
        <div class="form-group">
            <label for="inputTags">Tags</label>
            <input type="text" class="form-control" id="inputTags" aria-describedby="tagsHelp" value="{{ tags }}" name="tags">
        </div>
        <div class="form-group">
            <label for="inputSection">Section</label>
            <select class="form-control" id="inputSection" aria-describedby="sectionHelp" name="section">
                {% if sections %}
                    {% for section in sections %}
                        {% if section.id == article.section_id.id %}
                            <option value="{{ section.name }}" selected="selected">{{ section.name }}</option>
                        {% else %}
                            <option value="{{ section.name }}">{{ section.name }}</option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="form-group">
            <label for="inputContent">Content</label>
            <textarea rows="10" columns="100" class="form-control" id="inputContent" aria-describedby="contentHelp" name="content">{{ article.content }}</textarea>
        </div>
{#        <div class="form-group">#}
{#            <label for="inputPath">Path</label>#}
{#            <input type="text" class="form-control" id="inputPath" aria-describedby="pathHelp" value="{{ article.path }}" name="path">#}
{#        </div>#}
        <div class="form-group">
            <label for="datetimepicker">Publish Date</label>
            <input id="datetimepicker" type="text" class="form-control" aria-describedby="publishDateHelp" name="publishDate">
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    {% load static %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script>
        CKEDITOR.replace('inputContent');

        jQuery("#datetimepicker").datetimepicker({
            value: $.now(),
            format:'d.m.Y H:i',
            dayOfWeekStart: 1,
        });
    </script>
{% endblock %}