{% extends "base_generic.html" %}

{% block content %}
    <h1 class="mb-4">Sections</h1>

    <a href="{% url 'cmsapp:section_new' %}" class="btn btn-outline-success float-right my-4">Add new section</a>

    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if sections %}
                {% for section in sections %}
                    <tr>
                        <td>{{ section.name }}</td>
                        <td><a class="btn btn-primary btn-sm" href="{% url 'cmsapp:section_edit' section.id %}" >Edit</a></td>
                        <td><a class="btn btn-danger btn-sm" href="{% url 'cmsapp:section_delete' section.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}