{% extends "base_generic.html" %}

{% block content %}
<nav class="navbar navbar-expand justify-content-between navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'cmsapp:index' %}">All</a>
    {% if sections %}
        {% for section in sections %}
            <a class="navbar-brand" href="{% url 'cmsapp:article_section' section.id %}">{{ section.name }}</a>
        {% endfor %}
    {% endif %} 
</nav>
    {% if section %}
        <h1 style="margin-top: 2%;">{{ section.name }} Articles</h1>
    {% else %}
        <h1 style="margin-top: 2%;">Articles</h1>
    {% endif %}
    <div class="my-5"></div>
    {% for article in articles %}
        <div class="my-4">
            <h3>{{ article.name }}</h3>
            <p>{{ article.short_content | safe }}...</p>
            <a href="{% url 'cmsapp:article_read' article.id %}">Read more...</a>
        </div>
    {% endfor %}
{% endblock %}