{% extends "base_generic.html" %}

{% block content %}
<nav class="navbar-collapse navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'cmsapp:index' %}">All</a>
    {% if sections %}
        {% for section in sections %}
            <a class="navbar-brand" href="{% url 'cmsapp:article_section' section.id %}">{{ section.name }}</a>
        {% endfor %}
    {% endif %} 
</nav>
    {% if section %}
        <h1 class="my-4">{{ section.name }} Articles</h1>
    {% else %}
        <h1 class="my-4">Articles</h1>
    {% endif %}
    <div class="my-5"></div>
    {% for article in articles %}
        <div class="my-4">
            <h4 class="font-weight-bold">{{ article.name }}</h4>
            <h6 class="text-black-50 font-italic">Published: {{ article.published_date }}</h6>
            <p>{{ article.short_content | safe }}...</p>
            <a href="{% url 'cmsapp:article_read' article.id %}">Read more...</a>
        </div>
        <hr/>
    {% endfor %}
{% endblock %}